<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxpilotto.esame2015">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".HOME01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NEW01" />
        <activity android:name=".NEW02" />
        <activity android:name=".LIST01" />
        <activity android:name=".LIST02" />

        <provider
            android:name=".persistance.WorkoutProvider"
            android:authorities="com.maxpilotto.esame2015.database.ContentProvider" />
    </application>

</manifest>